* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
}