
$back: #000000;
$text-color: #363636;
$grey: #575757;
$light-grey: #878787;
$background-color: #ffffff;
$highlight-color: #FFF96E;


$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;


$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;


$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;