@import 'variables';
@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.5;
}

.main-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 $spacing-md;
}

.highlight {
  background-color: $highlight-color;
  font-weight: 500;
}