
.total-articles {
  margin-top: 45px;
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(234, 234, 234, 1);
}

.loadMore {
  display: block;
  margin: 40px auto;
  padding: 12px 32px;
  background: #363636;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease;
  
  &:hover {
    background: #000000;
    transform: translateY(-2px);
  }
}