@import '../../styles/variables';

.card {
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  background: #EAEAEA;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
  max-width: 400px;

  &:hover {
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.08);
    transform: translateY(-4px);
  }

  &-main__image {
    height: 200px;
  }

  &-date {
    display: flex;
    align-items: center;
    opacity: .5;
    font-size: 14px;
    img {
      width: 16px;
      margin-right: 8px;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  &-button {
    margin-top: 20px;
    button {
      padding: 0;
      font-weight: 600;
      color: $text-color;
    }
  }
}
